
body 
{
  font-family: "Roboto", "Arial";
}

.hero
{
  display: flex;
  flex-flow: column;
  background: #1F2937;
}
/* margins for hero */
.header,.title
{
  margin-left: 200px;
  margin-right: 200px;
}

/* Style the Header */
.header
{
  display: flex;
  justify-content: space-between;
  min-height: 150px;
  padding-top: 10px;
}
.header-logo
{
  font-size: 24px;
  font-weight: bold;
  color: #F4FAF8;
  flex: 0 1 65%;
}
.header-links
{
  flex: 0 1 auto;
}
a
{
  text-decoration: none;
  /* the rest of the properties are defined below with the .title-subtext class*/
}

/* Style the hero title */

.title
{
  display: flex;
  justify-content: space-between;
}
.title-text
{
  display: flex;
  flex-flow: column;
}
.title-main-text
{
  font-size: 48px;
  color: #F4FAF8;
  font-weight: 900;
  padding: 5px;
}
a, .title-subtext
{
  padding-bottom: 10px;
  font-size: 18px;
  color: #E5E7EB;
  flex: 0 5 auto;
}
.title-img
{
  padding: 20px;
}
button
{

  background-color: #3882F6;
  padding: 5px;
  border: none;
  max-height: 100px;
  max-width: 120px;

  border-radius: 10px;
}
